{% extends '../bootstrap/index.html' %}

{% block content %}
    <h1 class="text-center">Ajoutez un nouveau produit</h1>
    
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% load crispy_forms_tags %}        
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group mt-3 text-center">
                <a class="btn btn-outline-dark" href="/">
                    Retour
                </a>
                <input type="submit" class="btn btn-secondary" value="Ajouter">
            </div>
        </form>
    </div>
{% endblock %}