{% extends '../bootstrap/index.html' %}

{% block content %}


            <div class="col mb-5">
                <div class="card h-10">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.title }}</h5>
                            <!-- Product price-->
                            {{ product.price }}€
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="row mb-3">
                    <b>Description :</b>
                    {{ product.description }}
                </div>
                <div class="row mb-3">
                    <b>Matière :</b>
                    {{ product.matiere }}
                </div>
                <div class="row mb-3">
                    <b>Diamètre :</b>
                    {{ product.taille }}
                </div>
            </div>
{% endblock %}